<h2>We've added new items to your CoffeeLog!</h2>

<%- if @success.present? -%>
  <h1>Successful additions:</h1>
  <%- @success.each do |feed| -%>
    <h2><%= feed.title %></h2>
    <%- feed.most_recent_items.each do |entry| -%>
      <h3><%= link_to entry.title, entry.link %></h3>
      <%= entry.content %>
    <%- end -%>
  <%- end -%>
<%- end -%>

<%- if @failure.present? -%>
  <h1>Failures:</h1>
  <ul>
  <%- @failure.each do |feed| -%>
    <li><%= feed.url %></li>
  <%- end -%>
  </ul>
<%- end -%>

<h1>Your current subscription list:</h1>
<ul>
<%- @user.feeds.each do |feed| -%>
  <li><%= feed.title %></li>
<%- end -%>
</ul>

<p>To edit your subscriptions visit: <%= link_to nil, user_root_url(@user, :host => "thecoffeelog.com") %></p>
